extends layout

block content
    h1= title
    p id: #{roomId}

    button#play-C3 play C
    button#play-D3 play D
    button#play-E3 play E
    button#play-F3 play F
    button#play-G3 play G
    button#play-A4 play A
    button#play-B4 play B
    button#play-C4 play B

block js
    script(src="/socket.io/socket.io.js")
    script(src="/bower_components/Thunder/thunder.js")
    script.
        Th.init();

        //based on http://joewlarson.com/thunderjs/demo.html
        var sound = {
                sineFunc:function(si, len,  frq, chn, opt) {
                    var fad=Math.min(1,(opt.sustain || 1)*(len-si)/len); // used to fade out, to avoid an abrupt chop off of the wave, which causes a click.
                    return Math.floor(fad*128*256*(
                        Math.sin(2.0 * Math.PI * frq * si  / 44100)
                    ));
                }
            };

        sound.playInstrument = function(pitch){
            //if(Th.Inst.get('default') == null)
            //Th.Inst.create('default', sound.sineFunc);
            Th.Inst.create('default', sound.sineFunc).getSound(pitch).play();
        };


    script.
        var roomId = '#{roomId}'
        var socket = io();

        socket.on('connect', function(){
            if(roomId)
                socket.emit('joinroom', prompt('Enter username'), roomId);
        });

        function sendData(data){
            socket.emit('senddata', data);
        }

        socket.on('recievedata', function(user, data){
            sound.playInstrument('C');
        });

    script.
        var messages = document.getElementById('messages');
        var message = document.getElementById('message-input');
        var playButtons = document.getElementsByTagName('button');
        playButtons = Array.prototype.slice.call(playButtons);

        playButtons.map(function(button, idx){
            playButtons[idx].onclick = function(){
                var id = button.id;
                var note = id.split('-')[1];
                sound.playInstrument(note);
                sendData('play');
            };
        });

        var keymap = {
            49: 'C3',
            50: 'D3',
            51: 'E3',
            52: 'F3',
            53: 'G3',
            54: 'A4',
            55: 'B4',
            56: 'C4'
        };

        window.onkeyup = function(e) {
            var key = e.keyCode ? e.keyCode : e.which;
            sound.playInstrument(keymap[key]);
            sendData('play');
        };

