extends layout

block content
    h1= title
    p id: #{roomId}

    button#send-message play

block js
    script(src="/socket.io/socket.io.js")
    script(src="/bower_components/Thunder/thunder.js")
    script.
        Th.init();

        //based on http://joewlarson.com/thunderjs/demo.html
        var sounds={
                sineFunc:function(si, len,  frq, chn, opt) {
                    var fad=Math.min(1,(opt.sustain || 1)*(len-si)/len); // used to fade out, to avoid an abrupt chop off of the wave, which causes a click.
                    return Math.floor(fad*128*256*(
                        Math.sin(2.0 * Math.PI * frq * si  / 44100)
                    ));
                }
            };

        Th.Sound.create('testsound', sounds.sineFunc).play();

    script.
        var roomId = '#{roomId}'
        var socket = io();

        socket.on('connect', function(){
            if(roomId)
                socket.emit('joinroom', prompt('Enter username'), roomId);
        });

        function sendData(data){
            socket.emit('senddata', data);
        }

        socket.on('recievedata', function(user, data){
            Th.Sound.create('testsound', sounds.sineFunc).play();
        });

    script.
        var messages = document.getElementById('messages');
        var message = document.getElementById('message-input');
        var sendMessage = document.getElementById('send-message');

        sendMessage.onclick = function(){
            sendData('play');
        };

