extends layout

block content
    div.room
        h1.title= title

        form.sign-in#sign-in
            p Enter a username
            input#username(placeholder="Username")
            button#join(type="submit") Join
        div.play#play
            button#play-261.play-note play C
            button#play-293.play-note play D
            button#play-330.play-note play E
            button#play-350.play-note play F
            button#play-392.play-note play G
            button#play-440.play-note play A
            button#play-493.play-note play B
            button#play-523.play-note play C

block js
    script(src="/socket.io/socket.io.js")
    script(src="/bower_components/timbre/index.js")
    script(src="/javascripts/instruments.js")
    script.
        var roomId = '#{roomId}'
        var socket = io();

        var joinRoom = document.getElementById('join');
        joinRoom.onclick = function(){
            var username = document.getElementById('username').value;
            if(roomId && username){
                socket.emit('joinroom', username, roomId);
                document.getElementById('sign-in').style.display = 'none';
                document.getElementById('play').style.display = 'block';
            }
            else{
                alert('Please enter a username');
            }

            return false;
        };

        function sendData(instrument, data){
            socket.emit('sendata', instrument, data);
        }

        socket.on('recievedata', function(instrument, pitch){
            instruments[instrument](pitch);
        });

    script.
        var messages = document.getElementById('messages');
        var message = document.getElementById('message-input');
        var playButtons = document.getElementsByClassName('play-note');
        playButtons = Array.prototype.slice.call(playButtons);

        playButtons.map(function(button, idx){
            playButtons[idx].onmousedown = function(){
                var id = button.id;
                var note = id.split('-')[1];
                var synth = instruments.clarinet(parseInt(note));
                sendData('clarinet', note);
                playButtons[idx].onmouseup = function(){
                    synth.noteOffWithFreq(note);
                }
            };
        });

        var keymap = {
            49: '261',
            50: '293',
            51: '330',
            52: '350',
            53: '392',
            54: '440',
            55: '494',
            56: '523'
        };

        document.onkeydown = function(e) {
            var key = e.keyCode ? e.keyCode : e.which;
            if(keymap[key]){
                instruments.edm(keymap[key]);
                sendData('edm', keymap[key]);
            }
        };

